$color: #3498db;

#_____SAC_____Form_Box {
  position: fixed;
  z-index: 2147483646;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 10px 10px;
  background-color: #f9f9f9;
  background-image: linear-gradient(-45deg, #f1f1f1 25%, transparent 25%,
                    transparent 50%, #f1f1f1 50%, #f1f1f1 75%,
                    transparent 75%, transparent);
  color: #141414;
  transition: opacity ease 1s;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  ._____SAC_____Form_container {
    position: relative;
    z-index: 2;
    flex: 0 1 50%;
    min-width: 300px;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    border-radius: 2px;
    animation-duration: 1.5s;
    animation-name: fadeInDownSAC;
    padding: 20px 40px 25px;

    #_____SAC_____Form_title {
      padding: 0;
      margin: 20px 0 10px;
      font-size: 20px;
      font-weight: 800;
      line-height: 1;
    }

    #_____SAC_____Form_description {
      padding: 0;
      margin: 10px 0 20px;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.6
    }

    form {
      padding: 0;
      margin: 20px 0;
      /*overflow: hidden;*/
      input {
        background-color: transparent;
        border: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 45px;
        width: calc(100% - 42px);
        font-size: 14px;
        margin: 0 0 20px 0;
        padding: 0 20px;
        box-shadow: none;
        box-sizing: content-box;
        transition: all 0.3s;
        color: #000;
        line-height: normal;
        &:focus {
          border-color: color($color a(80%));
          box-shadow: 0 0 2px 0 color($color a(80%));
        };
      }
      button {
        float: right;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: $color;
        text-align: center;
        letter-spacing: .5px;
        transition: .2s ease-out;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        height: 36px;
        line-height: 36px;
        padding: 0 2rem;
        margin: 0 0 10px;
        outline: none;
        appearance: none;
        vertical-align: middle;
        -webkit-tap-highlight-color: transparent;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        &:hover {
          background-color: color($color l(60%));
          box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
        }
      }
    }

  }

}

._____SAC_____Dialog_Box {
  z-index: 2147483647;
  position: fixed;
  top: 20px;
  right: 20px;
  width: auto;

  #_____SAC_____Dialog_List {

    li {
      border-width: 1px;
      border-style: solid;
      margin: 10px;
      padding: 10px 20px;
      opacity: 0;
      transition: all ease 1s;
      transform: translateY(30px);
      list-style: none;

      &.active {
        opacity: 1;
        transform: translateY(0);
      }

      &.remove {
        opacity: 0;
        transform: translateY(-100px);
      }

      &.success {
        color: #fff;
        background-color: color(#16a085 a(80%));
        border-color: #16a085;
      }

      &.alert {
        color: #fff;
        background-color: color(#c0392b a(80%));
        border-color: #c0392b;
      }

    }

  }

}


@keyframes fadeInDownSAC {
  from {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
